.movieDetailsPageContainer {
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
  min-height: 100vh;
}

.mainfilmInfoBlock {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.mainfilmInfo {
  padding: 2rem 0.8rem 1.4rem 4.2rem;
  width: 100%;
  background: linear-gradient(to top, black 0%, transparent 65%);
}

.container {
  max-width: 82rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

@media screen and (min-width: 82rem) {
  .mainfilmInfo {
    padding: 2rem 0 1.4rem 0;
  }

  .container {
    margin: 0 auto;
  }
}

@media screen and (max-width: 46.8rem) {
  .mainfilmInfo {
    padding: 0 0.8rem 1.4rem 0.8rem;
    margin: 0 auto;

    .container {
      justify-content: center;
    }
  }
}

.preloader {
  width: 100%;
  height: 100vh;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &::before {
    content: '';
    background-image: url('https://static.thenounproject.com/png/392126-200.png');
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}
