.movieDetailsPageContainer {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-end;
  min-height: 100vh;
}

.mainfilmInfoBlock {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.mainfilmInfo {
  padding: 2rem 0.8rem 1.4rem 4.2rem;
  width: 100%;
  background: linear-gradient(to top, black 0%, transparent 65%);
}

.container {
  max-width: 82rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

@media screen and (max-width: 54rem) {
  .mainfilmInfo {
    background: linear-gradient(to top, black 0%, transparent 100%);
  }
}

@media screen and (min-width: 82rem) {
  .mainfilmInfo {
    padding: 2rem 0 1.4rem 0;
  }

  .container {
    margin: 0 auto;
  }
}

@media screen and (max-width: 46.8rem) {
  main .movieDetailsPageContainer {
    background-color: rgba(0, 0, 0, 0.8) !important;
  }

  .mainfilmInfo {
    padding: 0 0 1.4rem 0;
    margin: 0 auto;

    .container {
      flex-flow: column nowrap;
      justify-content: flex-end;
      align-items: center;

      & > div {
        width: 90%;
      }
    }
  }
}
