.mainFilmInfo__info {
  color: #fff;
  display: flex;
  flex-flow: column nowrap;
}

.mainFilmInfo__buttons {
  color: #fff;
}

.mainFilmInfo__info p {
  text-overflow: ellipsis;
  max-height: 6.7rem;
  font-size: 0.8rem;
  letter-spacing: 0.2px;
  width: 13.2rem;
  align-self: flex-end;
  word-break: keep-all;
  line-height: 1.438rem;
  background-color: rgba(0, 0, 0, 0.64);
  padding: 0.2rem 0.5rem 0.5rem 0.8rem;
  overflow: hidden;
  font-weight: 400;
}

@media screen and (min-width: 82rem) {
  .mainFilmInfo__info p {
    font-size: 1rem;
    width: 20rem;
    max-height: 10rem;
    line-height: 1.3rem;
    padding: 0.4rem 0.8rem 0.8rem 0.8rem;
    word-break: keep-all;
  }
}
