.header {
  width: 100%;
  padding: 0.9rem 0 0 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), transparent);
  position: absolute;
  top: 0;
  overflow: hidden;
  left: 0;

  .container {
    width: 100%;
    max-width: 82rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
}

.h1 {
  color: #fff;
  font-size: 1.56rem;
  letter-spacing: 2px;
  font-weight: 400;
}

.header form {
  position: relative;
}

.searchField {
  width: 16.8rem;
  height: 2rem;
  border: 1px solid #fff;
  border-radius: 4px;
  background: none;
  letter-spacing: 1px;
  color: #fff;
  text-align: left;
  cursor: pointer;
  outline: none;
  padding-left: 0.6rem;
}

.btnSearch {
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 1.4rem;
  transform: rotate(-44deg);
  background: none;
  border: none;
  color: #fff;
  font-weight: 200;
  cursor: pointer;
}

@media screen and (max-width: 31.25rem) {
  .header .container {
    justify-content: center;
  }

  .h1 {
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 82rem) {
  .h1 {
    font-size: 3rem;
  }

  .container {
    margin: 0 auto;
  }
}
