.container {
  max-width: 82rem;
  margin: 0 auto;
}

.typeViewLines {
  flex-flow: column nowrap;
}

.moviesSelector {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.typeView button {
  border: none;
  color: #0aaee4;
  background: none;
  font-weight: bolder;
  font-size: 1.5rem;
  outline: none;
}

.moviesWrapper,
.moviesSelector ul {
  display: flex;
  flex-flow: row wrap;

  li {
    padding-bottom: 0.6rem;
    outline: none;

    &.active {
      border-bottom: 1px solid #0aaee4;
    }

    a button {
      color: #0aaee4;
      outline: none;
      border: none;
      cursor: pointer;
      background: none;
    }
  }
}

.movieList {
  background: #f2f2f2;
  padding: 5rem 1.5rem 1.5rem;
}

.moviesWrapper {
  justify-content: space-between;
}

.moviesSelector ul {
  justify-content: flex-start;

  li {
    margin-right: 1rem;
  }

  li,
  select {
    color: #0aaee4;
  }

  select,
  option {
    cursor: pointer;
  }

  select {
    background: #f2f2f2;
    border: none;
    width: 3.7rem;
    outline: none;

    option {
      border: none;
    }
  }
}

@media screen and (max-width: 42.5rem) {
  .moviesWrapper,
  .moviesSelector,
  .moviesSelector ul {
    justify-content: center;
  }
}

@media screen and (max-width: 31.25rem) {
  .movieList {
    padding-top: 7rem;
  }

  .typeView {
    display: none;
  }
}
