.container {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 2rem 0;

  h2 {
    color: #0aaee4;
    font-size: 2rem;
    letter-spacing: 2px;
    font-weight: 600;
    margin: 2rem 0;
  }
}
