.mainFilmTitle {
  color: #fff;
  margin: auto 0 0.7rem;
}

@media screen and (max-width: 46.8rem) {
  .mainFilmTitle {
    margin: 0 0 2rem 0;
  }

  .filmTitle {
    margin-top: 1rem;
  }

  .genres ul {
    flex-flow: column nowrap;

    li {
      margin: 0.3rem;
    }
  }
}

.filmTitle {
  font-size: 1.86rem;
  letter-spacing: 0.09rem;
}

.genres {
  padding: 0.4rem 0 0.3rem 0.1rem;
  font-size: 0.7rem;
  letter-spacing: 0.06rem;
}

.genres ul {
  display: flex;
  justify-content: flex-start;

  li {
    margin-right: 1rem;
    position: relative;

    button {
      background: none;
      border: none;
      padding: 0;
      color: #fff;
      cursor: pointer;

      &:hover {
        color: #47c3f0;
      }
    }
  }

  li:last-child::before {
    content: "";
    border: 1px solid #fff;
    height: 0.6rem;
    left: -9px;
    position: absolute;
  }
}

.mainFilmRate {
  color: #fff;
}

@media screen and (min-width: 82rem) {
  .filmTitle {
    font-size: 2.5rem;
  }

  .genres {
    font-size: 1rem;

    ul li:last-child::before {
      height: 0.9rem;
    }
  }
}
